:root {
    --fs-h1: 1rem;
    --fs-h2: .75rem;
    --fs-body: 0.5rem;
    --body-background: #E0E0E0;
    --section-background: #FFFFFF;
    --elements-background: #039BE5;
    --elements-text-color: #FFFFFF;
    --navlinks-text: #E0E0E0;
    --navlinks-text-hover: #FFFFFF;

}

body {
    font-family: "Segoe UI", Roboto, sans-serif;
    background-color: var(--body-background);
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header,
footer {
    background: var(--elements-background);
    color: var(--elements-text-color);
    margin: 15px 0;
    border-radius: 12px;
}

footer {
    text-align: center;
    padding: 24px;
    margin: 0;
    border-radius: 12px;
}

h1 {
    padding: 10px 15px;
    font-size: var(--fs-h1);
    ;
}

h2 {
    font-size: var(--fs-h2);
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    font-size: var(--fs-h2);
    font-weight: bold;
    padding: 10px 15px;
    list-style: none;
}

.nav-links a {
    color: var(--navlinks-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--navlinks-text-hover);
}

section {
    background: var(--section-background);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
}

section img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}

.events-section img {
    height: 50px;
    width: 50px;
}

.events-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: rem;
    background: var(--elements-background);
    color: var(--elements-text-color);
    margin: 10px 0;
    border-radius: 12px;
}




